<h2>商品新規登録</h2>
<%= form_with model: [:admin, @item] do |f| %>
    <div class="col-xs-5">
        <div class="field">
            <%= f.label :image,"商品画像", class:"col-sm-2 col-form-label" %>
            <%= f.file_field :image, accept: "image/*" %>
        </div>
    </div>
    <div class="col-xs-5">
        <%= f.label :name,"商品名",class:"col-sm-2 col-form-label" %>
        <div class="col-sm-7">
        <%= f.text_field :name, class:"form-control" %>
        </div>
    </div>
    <div class="form_group">
        <%= f.label :explanation,"商品説明", class:"col-sm-2 col-form-label" %>
        <div class="col-sm-7">
          <%= f.text_area :explanation, class:"form-control" %>
        </div>
    </div>
    <div class="form_group">
        <%= f.label :genre_id,"ジャンル", class:"col-sm-2 col-form-label" %>
          <div class="col-sm-7">
            <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name), prompt: "--選択してください--" %>
          </div>
    </div>
    <div class="form_group">
         <%= f.label :price,"税抜き価格", class:"col-sm-2 col-form-label" %>
          <div class="col-sm-7">
            <%= f.text_field :price, class:"form-control" %><span>円</span>
          </div>
    </div>
    <div class="form_group">
        <%= f.label :is_status,"販売ステータス", class:"col-sm-2 col-form-label" %>
          <div class="col-sm-7">
              <%= f.select :is_active, [['販売中', true], ['販売停止', false]], prompt: "--選択してください--" %>
          </div>
     </div>
    <div class="actions row">
        <div class="col-sm-7">
          <%= f.submit '新規登録', class: "btn btn-lg  btn btn-outline-primary mt-5 " %>
        </div>
    </div>

 <% end %>

