<div class = "container">
  <div class = "col-sm-10 px-sm-0 mx-auto">
	<h4 class="text-center mb-5">注文履歴一覧</h4>
	<table class="table table-hover table-bordered my-5 mx-auto">
	  <thead class="table-secondery">
	    <tr>
	      <th>購入日時</th>
      	  <th>購入者</th>
	      <th>注文個数</th>
	      <th>注文ステータス</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @orders.each do |order| %>
	      <tr>
	        <td>
	          <%= link_to admin_order_path(order), data: {"turbolinks" => false}, :style=>"color:#528fff;"  do %>
	          	<%= order.created_at %>
	          <% end %>
	        </td>
	        <td>
	          <%= full_name(order.customer) %>
	        </td>
	        <td>
	          <%= order.order_details.count %>
	        </td>
	        <td>
	      	  <%= order.status %>
 	        </td>
 	        <td><%= link_to "注文詳細", admin_order_path(order), class:"btn btn-primary" %></td>
 	      </tr>
	    <% end %>
	  </tbody>
	</table>
  </div>
</div>
