    <div class="row">
		<div class="col-md-3">
			<%= render "sidebar/sidebar", genres: @genres %>
		</div>

			<h2>商品一覧</h2>
		</div>
			<% @items.each do |item| %>
		<div class="album col-md-9 bg-light">
			<div class="col-md-3 shadow-sm">
				<%= link_to item_path(item.id) do %>
				<img class="card-img-top"><%= image_tag item.image, size: "100x100" %></img>
				<div class="card-body">
					<%= item.name %>
				<% end %>
					<p class="card-text">¥<%= (item.price).floor %></p>
				</div>
			</div>
		</div>
		<% end %>
	</div>
