<div class="container">
<h5>ログイン</h5><br/>
<h4>会員の方はこちらからログイン</h4>
<br/>

<%= form_with model: @customer, url: customer_session_path, local: true do |f| %>
  <div class="row">
    <label class="col-lg-3 ">メールアドレス</label>
      <div class="col-lg-3">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", size:"50" %>
      </div>
  </div><br/>

  <div class="row">
    <label class="col-lg-3">パスワード</label>
      <div class="col-lg-3">
        <%= f.password_field :password, autocomplete: "current-password", size:"50" %>
      </div>
  </div><br/>

  <div class="row">
    <div class="col-lg-3">
    <%= f.submit "Log in", class:"btn btn-primary col-3" %>
    </div>
  </div>
<% end %>


  <h5>会員登録がお済でない方</h5>
    <div class="col-lg-4">
      <%= link_to "こちら",  new_customer_registration_path %>から新規登録を行ってください。
    </div>
</div>